@font-face {
  font-family: "Showtime-R9Ke.ttf";
  src: url("Showtime-R9Ke.ttf");
}
nav {
  font-family: "Showtime-R9Ke.ttf";
}
.homepage {
  font-family: cursive;
  font-size: 30px;
  color: gold;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: whitesmoke;
  justify-content: space-around;
}
.app {
}
h1 {
  font-size: 75px;
  text-align: center;
}

form {
  text-align: right;
  align-content: top;
}

img {
  height: 250px;
  border: 2px solid grey;
  margin-top: 20px;
}

.wholepage {
  background-color: black;
  color: whitesmoke;
}

header,
nav,
footer {
  background-color: black;
  color: whitesmoke;
  margin: 0px;
}
footer {
  text-align: center;
}
h1 {
  margin: 0px;
}

/* unvisited link */
a:link {
  color: whitesmoke;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: grey;
}

/* mouse over link */
a:hover {
  color: crimson;
}

/* selected link */
a:active {
  color: blue;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 300px;
  height: auto;
  border: 3px solid black;
  margin: 5px;
  text-align: center;
}
.MovieListWholePage {
  justify-content: space-evenly;
}
/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}
